<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>   
        
    <% produto.forEach(item =>{ %>
        <h2><%= item.nome %></h2>
        <h2><%= item.peso %></h2>
        <h2><%= item.valor %></h2>
        <a href="/editarProduto/<%=item.codigo_barras%>"><button>Editar</button></a> 
        <a href="/deletarProduto/<%=item.codigo_barras%>"><button>Excluir</button></a>  
    <% }) %>

</body>
</html>